<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="statics/style.css">
      <!-- Bootstrap CSS -->
    <title>quotes</title>
</head>
<body>

    <div class="container col-lg-6">
        <a href="">All Quotes by </a>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quote</h5>
                <p class="card-text">"The only limit to our realization of tomorrow is our doubts of today." - Franklin D. Roosevelt</p>
            </div>
        </div>

        <div class="links">
            <a href="">Back to Home</a>
        </div>
       
    </div>
    
    <!-- Bootstrap JS Bundle -->
    
</body>
</html>